# --- Bibliotecas principais ---
streamlit
openai>=1.12.0
chromadb
tiktoken
pandas

# --- Banco de dados e manipulação de dados ---
python-dotenv

# --- Utilidades ---
requests

langchain-core
langchain-openai
langchain-community
python-dotenv